{% extends "base.html" %}

{% block title %}
    Play
{% endblock %}

{% block content %}
    <button type="button" data-bs-toggle="modal" data-bs-target="#instructions">How To</button>
    <p>Guesses: {{ count }}</p>
    <p>Your color is:</p>
    {{ hex }}
    <div id="color-box">
    </div>
    <p>Guesses:</p>
    <div id="attempts">
        {% for attempt in attempts %}
            <div>
                <p class="inline" style="color: {{ attempt["color"] }}">#</p>
                {% for digit in attempt["attempt"] %}
                    <input name="attempt" value={{ digit["value"] }} disabled class={{ digit["correct"] }}>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
    <div id="input">
        <form id="input" action="/check" method="post">
            #
            <input name="1" maxlength="1" pattern="[A-Fa-f0-9]" required autocomplete="off" autofocus>
            <input name="2" maxlength="1" pattern="[A-Fa-f0-9]" required autocomplete="off">
            <input name="3" maxlength="1" pattern="[A-Fa-f0-9]" required autocomplete="off">
            <input name="4" maxlength="1" pattern="[A-Fa-f0-9]" required autocomplete="off">
            <input name="5" maxlength="1" pattern="[A-Fa-f0-9]" required autocomplete="off">
            <input name="6" maxlength="1" pattern="[A-Fa-f0-9]" required autocomplete="off">
            <button id="submit" type="submit">Check</button>
        </form>
    </div>
    <!-- Instructions -->
    <div class="modal fade" id="instructions" tabindex="-1" aria-labelledby="instructions-label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="instructions-label">How To Play</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>
                        Try to guess the hexcode of the color in the box. 
                        If you don't know what a hexcode is, it is basically a 6-digit representation of a color. 
                        Valid digits are from A-F and all numerical digits.
                    </p>
                    <p>
                        Enter your guess in the cells below, and press check to see how you do.
                        Cells highlighted in green indicate that the digit you guessed at that position is correct.
                        Cells highlighted in yellow indicate that the digit is in the hexcode, but not in the correct position.
                        Cells in gray are not in the hexcode.
                        You have unlimited attempts to guess the color.
                    </p>
                    <p>
                        Good luck!
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block embedded %}
    <style>
        #color-box {
            background-color: {{ color }};
        }
    </style>
    <script>
        
        let input = document.querySelector('#input');
        let fields = input.querySelectorAll('input');
        fields.forEach((field) => field.addEventListener('keyup', (e) => {
            if (e.key !== 'Backspace' && e.key !== 'Shift') 
            {
                field.blur();
                next = field.nextElementSibling;
                if (next) 
                {
                    next.focus();
                }
            }
        }));
        fields.forEach((field) => field.addEventListener('keydown', (e) => {
            if (e.key === 'Backspace' && field.value === '')
            {
                field.blur()
                previous = field.previousElementSibling
                if (previous)
                {
                    previous.focus();
                }
            }
        }));
        

        {#
        
        let input = document.querySelector('#input');
        let submit = document.querySelector('#submit')
        #}
        
        {#
        submit.addEventListener('click', () => {
            let data = new FormData();
            let inputs = input.querySelectorAll('input');
            for (const node of inputs) 
            {
                data.append(node.name, node.value);
            }
            let test;
            fetch("/check", {
                "method": "POST",
                "body": data
            })
            .then(response => test = response.json())
            .then(result => alert(result));
            console.log(test)
        });
        #}
    </script>
{% endblock %}