#color-box {
    width: 100px;
    height: 100px;
    border: 4px solid lightgray;
}

.inline {
    display: inline;
}

input {
    width: 25px;
}

.correct {
    background-color: lightgreen;
}

.partial {
    background-color: khaki;
}

.incorrect {
    background-color: lightgray;
}