html, body {
    margin: 0;
    height: 100vh;
}

.fill-screen {
    background-color: light-dark(white, var(--bs-dark));
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#color-box {
    width: 100px;
    height: 100px;
    border: 2px solid light-dark(var(--bs-gray-500), var(--bs-gray-700));
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inline {
    display: inline;
}

input {
    width: 2.75rem;
    height: 2.75rem;
    text-align: center;
    border: 2px solid light-dark(var(--bs-gray-500), var(--bs-gray-700));
    caret-color: transparent;
    font-weight: bold;
}

input:focus-visible {
    border: 2px solid light-dark(var(--bs-gray), var(--bs-gray-500));
    outline: 0px;
}

.inputs {
    margin: 0.25rem;
    display: flex;
    justify-content: space-evenly;
    gap: 0.25rem;
    align-items: center;
}

.correct {
    --correct: light-dark(rgb(127, 204, 127), rgb(57, 104, 57));
    background-color: var(--correct);
    color: white;
    border-color: var(--correct);
}

.partial {
    --partial: light-dark(rgb(250, 223, 137), rgb(160, 133, 46));
    background-color: var(--partial);
    color: white;
    border-color: var(--partial);
}

.incorrect {
    --incorrect: light-dark(var(--bs-gray-600), var(--bs-gray-dark));
    background-color: var(--incorrect);
    color: white;
    border-color: var(--incorrect);
}

#toolbar > h1, p {
    color: light-dark(black, white);
}

.inline-square {
    display: inline-block;
    width: 25px;
    height: 25px;
}

.key {
    height: 40px;
}

.clean-btn {
    background: none;
    border: none;
    display: inline-flex;
    align-items: center;
    vertical-align: middle;
    padding: 0.25rem;
    justify-content: space-evenly;
    gap: 0.25rem;
}

.normal-btn {
    border-width: 0px;
    border-radius: 0.3rem;
    padding: 0.5rem;
    font-weight: bold;
    display: inline-flex;
    align-items: center;
    vertical-align: middle;
}

button {
    background-color: light-dark(var(--bs-gray-400), var(--bs-gray));
    justify-content: center;
}

#toolbar {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 0rem;
}

#settings-container {
    width: 210px;
}