#color-box {
    width: 100px;
    height: 100px;
    border: 4px solid lightgray;
}

.inline {
    display: inline;
}

input {
    width: 2.75rem;
    height: 2.75rem;
    text-align: center;
}

.correct {
    background-color: lightgreen;
}

.partial {
    background-color: khaki;
}

.incorrect {
    background-color: lightgray;
}

.inline-square {
    display: inline-block;
    width: 25px;
    height: 25px;
}